<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Paper -->
      <package
            uri="http://BlankModel/LRBAC"
            class="LRBAC.LRBACPackage"/>
   </extension>

</plugin>
